@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);

#dropdown-menu-2btn-3 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-3 .nav .link,
#dropdown-menu-2btn-3 .dropdown-item {
  font-size: 1.2em;
  color: #000000;
  font-family: 'Roboto', sans-serif;
}
#dropdown-menu-2btn-3 .navbar,
#dropdown-menu-2btn-3 .dropdown-menu {
  background: #000000;
}
#dropdown-menu-2btn-3 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-3 .dropdown-menu a:hover,
#dropdown-menu-2btn-3 .dropdown-menu a:focus {
  background: #000000;
}
#dropdown-menu-2btn-3 .navbar-toggler {
  color: #000000;
}
#header1-4 H1 {
  color: #bfc7d6;
}
